body {
  background-color: #1b202a;
}

.md-form.md-outline input:focus:not([readonly]) + label {
  background: #2f3744;
}

.controller-wrap {
  max-width: 1280px;
  width: 85%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container-wrap {
  border-radius: 24px;
  display: flex;
  align-self: center;
}
.left-container {
  background-color: blue;
  flex: 3;
  border-radius: 24px 0px 0px 24px;
  height: 720px;
}
.right-container {
  background-color: #2f3744;
  flex: 2;
  border-radius: 0px 24px 24px 0px;
  padding: 42px;
  height: 720px;
}

.title-text {
  font-size: 24px;
  color: #b5bdc6;
}

.description-text {
  font-size: 14px;
  color: #9aa2ab;
}
