/* fonts */
@font-face {
  font-family: inter;
  src: url("../assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}

body {
  font-family: inter, sans-serif;
  background-color: #1b202a;
}

/* override Default library styles */

.md-form.md-outline input:focus:not([readonly]) + label,
.md-form.md-outline label.active,
.md-form.md-outline
  > input[type]:-webkit-autofill:not(.browser-default):not([type="search"])
  + label {
  background: #2f3744;
}

.md-form.md-outline input[type="password"].invalid,
.md-form.md-outline input[type="email"].invalid,
.md-form.md-outline input[type="email"]:focus.invalid {
  border-color: #de8e97;
  box-shadow: inset 0 0 0 1px #de8e97 !important;
}

.md-form.md-outline input.invalid:not([readonly]) + label {
  color: #de8e97 !important;
}

.md-form.md-outline.form-lg label {
  transform: translateY(14px);
}

/* .md-form.md-outline input:focus:not([readonly]).invalid+label, */

.controller-wrap {
  max-width: 1280px;
  width: 85%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-container .carousel-inner {
  border-radius: 24px 0px 0px 24px;
}

.main-container-wrap {
  width: 100%;
  border-radius: 24px;
  display: flex;
  align-self: center;
}

.left-container {
  background-color: blue;
  flex: 3;
  border-radius: 24px 0px 0px 24px;
  height: 720px;
}

.right-container {
  background-color: #2f3744;
  flex: 2;
  border-radius: 0px 24px 24px 0px;
  padding: 42px;
  height: 720px;
  position: relative;
}

.subex-logo {
  margin-bottom: 130px;
}

.form-controller {
  width: 310px;
}

.title-text {
  font-size: 24px;
  color: #b5bdc6;
}

.description-text {
  font-size: 14px;
  color: #9aa2ab;
}

.forget-pass-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forget-pass-wrapper a,
.forget-pass-wrapper button {
  font-size: 14px;
  color: #ffffff;
}

.forget-pass-wrapper button {
  padding: 9px 20px;
  border-radius: 6px;
}

.forget-pass-wrapper button.disabled {
  background-color: #666d77 !important;
}

.error-container {
  height: 85px;
  visibility: hidden;
}

.forget-pass-link a {
  font-size: 14px;
  color: #ffffff;
}

.support-container {
  margin-top: 32px;
  position: absolute;
  bottom: 24px;
}

.support-container a,
.support-container span {
  font-size: 14px;
  color: #9aa2ab;
}

.support-container span {
  color: #ffffff;
}

.error-container {
  color: #de8e97;
  margin-top: 32px;
}

.error-container .error-header {
  font-size: 14px;
}

.error-container .error-description {
  font-size: 10px;
  margin-top: 4px;
}

.form-input {
  margin-top: 30px;
}

.form-input input {
  padding: 12px !important;
  font-size: 14px;
  color: #9aa2ab !important;
}

.form-input label {
  font-size: 14px !important;
  color: #9aa2ab !important;
}

.forget-pass-link a {
  font-size: 14px;
  color: #ffffff;
}

.left-container .carousel-caption {
  position: absolute;
  top: 50%;
  left: 48px;
  bottom: initial;
  transform: translate(0%, -50%);
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: left;
  width: 500px;
}

.left-container .carousel-caption h3 {
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0.25px;
  line-height: 38px;
}

.left-container .carousel-caption p {
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: 26px;
}

.left-container .rgba-black-strong,
.left-container .rgba-black-strong .rgba-black-strong:after {
  opacity: 0.8;
  background: linear-gradient(225.52deg, #1a58db 0%, #1b202a 100%);
}

.show {
  display: block;
}

.hide {
  display: none;
}

.visible {
  visibility: visible;
}

.in-visible {
  visibility: hidden;
}

/* disable btn css */
.btn.btn-primary:disabled {
  background-color: #666d77 !important;
  letter-spacing: 0;
  text-align: center;
}
/* common error msg style */
.error-msg{
  font-family: Inter;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #de8e97;
  margin-top: -30px;
  margin-right: 14px
}
